/* @import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css); */

/* @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); */

/* @font-face { */
/*   font-family: 'Noto Sans KR'; */
/*   font-style: normal; */
/*   font-weight: 100; */
/*   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), */
/*        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), */
/*        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); */
/* } */
/* @font-face { */
/*   font-family: 'Noto Sans KR'; */
/*   font-style: normal; */
/*   font-weight: 300; */
/*   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), */
/*        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), */
/*        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); */
/* } */
/* @font-face { */
/*    font-family: 'Noto Sans KR'; */
/*    font-style: normal; */
/*    font-weight: 400; */
/*    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); */
/*  } */
/* @font-face { */
/*    font-family: 'Noto Sans KR'; */
/*    font-style: normal; */
/*    font-weight: 500; */
/*    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); */
/*  } */
/* @font-face { */
/*    font-family: 'Noto Sans KR'; */
/*    font-style: normal; */
/*    font-weight: 700; */
/*    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); */
/*  } */
/* @font-face { */
/*    font-family: 'Noto Sans KR'; */
/*    font-style: normal; */
/*    font-weight: 900; */
/*    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), */
/*         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); */
/*  } */
/*  /*나눔스퀘어*/ */
 @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'NanumSquare','Noto Sans KR',Nanumsquare, Malgun Gothic, "맑은고딕", arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;margin:0;
}
ol, ul {
	list-style: none;padding: 0;margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
.bold{font-weight:bold}
.boldnone{font-weight:normal !important}
.colorblack{color:#333333 !important}
.colorsilver{color:#666666 !important}
.colorwhite{color:#ffffff !important}
.colorblue{color:#153456 !important}
.mt50 {margin-top: 50px !important}
.mt100 {margin-top: 100px !important}
.mt20 {margin-top: 20px !important}
.mt30 {margin-top: 30px !important}
.mt10 {margin-top: 10px !important}
.mr10 {margin-right: 10px !important}
.mb0 {margin-bottom: 0px !important}
.mb10 {margin-bottom: 10px !important}
.mb30 {margin-bottom: 30px;}
.pt10{padding-top:10px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pt50{padding-top:50px !important}
.pt100{padding-top:100px !important}
.pt200{padding-top:200px !important}
.tl{text-align:left !important}
.tr{text-align:right !important}
.fs13{font-size:13px !important}
.fs14{font-size:14px !important}
.fs15{font-size:15px !important ;color:#666666}
.fs16{font-size:16px !important}
.fs18{font-size:18px !important}
.fs20{font-size:20px !important}
.fs22{font-size:22px !important}
.fs24{font-size:24px !important}
.fs30{font-size:30px !important}
.fs36{font-size:36px !important}
.tc{text-align:center}
.fr{float:right}
.fl{float:left}
.cl{clear:left}
.cb{clear:both}
.letter-1{letter-spacing: -1px;}

.content_01{
	background: url(/resource/images/bg.jpg) no-repeat 84% 50%;
}
.content_02{
	background: url(/resource/images/bg.jpg) no-repeat 0% 0;
}
.content_03{
	background: url(/resource/images/bg.jpg) no-repeat 100% 0;
}
.content_50{
	background: url(/resource/images/bg.jpg) no-repeat 0% 0;
}
.content_04{
	background: url(/resource/images/bg.jpg) no-repeat 0 0;
}

.header{
    width: 100%;
    height: 4vh; 
    position: relative;
    background-image: linear-gradient(to top, #041831 0%, #041831 100%);
    background-image: -webkit-linear-gradient(90deg, #041831 0%, #041831 100%);
    border-bottom: 1px solid #000;
    background-size: 7px;
    overflow: hidden;
    color: #ffffff;
    padding: 0px 0px 0 0px;
    z-index: 1;}

.footer{ width: 100%;
    height: 4vh; background: #242729 }


.wrap{width: 3840px;/*height: 100vh;*/}
.content_01{width:25%;height:94vh;float:left;}
.content_02{width:25%;height:94vh;float:left;}
.content_03{width:25%;height:94vh;float:left;}
.content_04{background-color:black;width:25%;height:94vh;float:left;}
.content_50{background-color:white;width:50%;height:94vh;float:left;}/*50%차지하는컨텐츠*/

.content_01-1{height:48%;padding: 2%;}
.content_01-2{height:44%;background-color:#192f40;padding: 2%;}
.content_02-1{height:46%;padding: 2%;}
.content_02-2{height:46%;padding: 2%;}
.content_03-1{}
.content_03-2{}
.content_04-1{height:44%;padding: 2%;}
.content_04-2{height:48%;padding: 2%;background-color:#153456;}


/*차트*/
#chartdiv {width: 100%;height: 250px;font-size:11px}
#chartdiv2 {width: 100%;height: 250px;font-size:11px}
#chartdiv3 {width: 50%;height: 400px;font-size:11px}


/*메인section1*/
/* .ul_main_select li{
    font-size: 23px;
    font-weight: bold;
    box-shadow: 2px 2px 4px 2px #192f40 ; 
  width: 145px;height: 145px;
  color:#fff; 
    float: left;
    border-radius: 50%;
    border: 3px solid #a5a5a5;
    padding: 26px;
    margin: 10px 50px;
    text-align: center;
    vertical-align: middle;position:relative; 
background: #437dab; 
background: -moz-linear-gradient(top,  #437dab 50%, #192f40 89%);  
background: -webkit-linear-gradient(top,  #437dab 50%,#192f40 89%);
background: linear-gradient(to bottom,  #437dab 50%,#192f40 89%);  
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437dab', endColorstr='#192f40',GradientType=0 );  
  } */
  .ul_main_select{margin-left: 80px;    margin-top: 30px;}
  .ul_main_select li{ /*width:30%;*/width:200px; float: left; text-align: center;    margin: 5px 20px;}
  .ul_main_select li:active{opacity:0.7}

/*데이타 차트섹션*/
.section_data{margin-top:50px}
.title_month{font-weight:bold;font-size:23px;color:white}

.section_data li{width:23%;padding:1%;float:left;    color: white;    font-size: 25px;    text-shadow: 3px 3px 3px #333;  font-weight: bold;}
.section_data2 li{padding: 1% 4% !important;}
.section_data li span.counter{font-size:30px;font-weight:bold;color:yellow;letter-spacing: -2px;       text-shadow: 3px 2px 2px #111; 
  width: 63.5%;  text-align: right;  /*display: inline-block;*/}
.section_data li span.counter_status{font-size:30px;font-weight:bold;color:yellow;letter-spacing: -2px;       text-shadow: 3px 2px 2px #111; 
  width: 63.5%;  text-align: right;  /*display: inline-block;*/}
.section_data li p{display: inline-block; width: 33%;font-size:21px;}
  
.year_count{color:#7ec8d4;font-size:18px; border-top:1px solid #d7d7d7;text-align:right;    padding: 10px;  margin-top: 5px;letter-spacing: -1px;}






/*테스트*/
 .status>ul {float:left; background:#2f3235; width:100%; border:solid 1px #3f4144; padding:9px 0 0 0; height:110px; letter-spacing:-0.4px; box-sizing:border-box;}
.status>ul>li {display:block; padding:7px 0 0px 0px; color:#a8aaab; text-align:center;}
.status>ul>li.count {font-size:13px; color:#a8aaab; padding-top:12px;}
 .status>ul>li.count span {font-size:24px; color:#fff; font-weight:600; margin-right:4px;  letter-spacing:-0.08em;}
 .status>ul>li a {color:#a8aaab;}
.status>ul>li.on {border-left:5px solid #5dabf5; color:#fff; background:#303639;}
.status>ul>li.on a {color:#fff;}
 .status.touchon ul{background:#161819; border:solid 1px #5dabf5;}
/*테스트*/




/*푸터*/
/* ========================================================================= */
	/* footer bar */ 
	.footer{display:block; background:#031625; background-size:4.5px; clear:both; position:fixed; bottom:0; left:0; width:100%; min-width:1368px; z-index:3000; }
	.footer .footer_gnb_bar{position:relative; display:block; width:calc(100% - 200px); height:100%;}
	.footer .footer_icon{float:left; height:100%; width:216px; padding:0px; left:500px;}/*20170728수정*/
	.footer .footer_icon li{float:left; text-align:center; height:100%; border-right:1px solid #1f2429; border-top:0px solid #494e51; width:50px;}
	.footer .footer_icon {z-index:1001;}
	.footer .footer_icon li img{width:28px; height:25px; padding:9px 0 0 0 ;}
	.footer .footer_icon.left{position:absolute; left:calc(50% - 216px); bottom:0;}
	.footer .footer_icon.center{position:absolute; left:500px; bottom:0;}
	.footer .footer_icon.right{position:absolute; left:calc(50% - 216px); bottom:0;}








  /*지도*/
  
/* 메인지도 */
.div_record{position: relative;float:left;    margin-top: -70px;}
.div_record img{position:absolute;}
.div_record_img{display: none;}
.div_record .modal-footer button img{position: inherit;}
.div_record2 {float: left; width:32%; margin-bottom: 240px;margin-top:20px;    font-size: 30px; margin-left:150px;
  line-height: 50px;}
.business_score{width:60%;margin-top:25px;text-align:right;color:white;}
.business_score .counter {font-weight: bold;  font-size: 51px;text-shadow: 4px 4px 4px #111;}
.totalcounter span{color: #b2cbff;  font-weight: bold;    font-size: 32px;}
.modal_map_ul li{font-family: 'Noto Sans KR';list-style: square !important;    list-style: none !important;  font-size: 13px;  line-height: 27px;}
.modal_map_ul li.title{color:#153456;font-weight:bold;font-size:16px;border-bottom:1px solid #e7e7e7;margin-bottom:5px}
/*국문*/
.po {position: absolute;}
.env1 {top: 172px; left: 45px;}
.env2 {top: 191px; left: 46px;}
.env2_2 {top: 210px; left: 47px;}
.env3 {top: 99px; left: 246px;}
.env4 {top: 413px; left: 482px;}
.env5 {top: 518px; left: 158px;}
.env6 {top: 615px;left: 347px;}
.env7 {top: 656px; left: 482px;}
.env7 .po_photo {margin-top: 42px !important;}
.env8 {top: 573px; left: 574px;}
.env8 .po_photo {margin-top: 31px !important;}
.env10 {top: 280px; left: 131px;}
.env11 { top: 325px;  left: 56px;}
.env12 {     top: 857px;  left: 5px;}
.env13 {    top: 845px;  left: 195px;}
.env14{    top: 886px;  left: 2px;}
.inf1 {top: 181px; left: 209px;}
.inf1 .po_photo {margin-top: 60px !important;}
.inf2 {top: 197px;    left: 188px;}
.inf2 .po_photo {margin-top: 78px !important;}
.inf3 {top: 323px; left: 156px;}
.inf3 .po_photo {margin-top: 101px !important;}
.inf4 {top: 641px; left: 544px;}
.inf5 {top: 631px; left: 405px;}
.inf6 {top: 605px; left: 610px;}
.inf7 {top: 342px; left: 85px;}
.inf7 .po_photo {margin-top: 45px !important;}
.inf8 {top: 673px;    left: 291px;}
.inf8 .po_photo {margin-top: 45px !important;}
.g1 {top: 216px; left: 70px;}
.g1 .po_photo {margin-top: 37px !important;}
.g2 {top: 325px; left: 249px;}
.g3 {top: 370px; left: 313px;}
.g4 {top: 392px; left: 365px;}
.g5 {top: 483px; left: 212px;}
.g6 {top: 544px; left: 335px;}
.r1 {top: 106px; left: 103px;}
.r2 {top: 128px; left: 103px;}
.r3 {top: 175px; left: 250px;}
.r4 {top: 195px; left: 291px;}
.r5 { top: 131px; left: 216px;}
.r5 .po_photo {margin-top: 24px !important;}
.r5_2 { top: 150px; left: 216px;}
.r5_2 .po_photo {margin-top: 24px !important;}
.r6 {top: 126px; left: 425px;}
.r10 {top: 650px; left: 189px;}
.r10 .po_photo {margin-top: 46px !important;}
.r11 {top: 879px; left: 132px;}
/* .p11 .po_photo {margin-top: 25px !important;} */
.r13 {top: 906px; left: 175px;}
.r7 {top: 421px; left: 278px;}
.r7 .po_photo {margin-top: 43px !important;}
.r8 {top: 509px; left: 468px;}
.r8 .po_photo {margin-top: 39px !important;}
.r12 {top: 691px;  left: 695px;}
.r14 {top: 629px;    left: 580px;}
.r15{top: 246px;    left: 69px;}  
.r16 {  top: 548px;  left: 153px;}

.po_photo {display: none;}
.po_photo button{margin:0 auto;font-size:13px;margin-top:5px;}
.po_photo {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 20px ;
  padding: 10px;
  text-align: center;
  z-index: 1;
  position: absolute;
}
.po_photo img {width: 280px; position: inherit;}
.po_photo a {font-size: 15px;text-decoration: underline;}
.po_photo .glyphicon {top: 2.8px;}

img.wow.display.fade-in.one {display: none;}

.dormitory .div_record {width: 50%; padding-left: 2em;}
.dormitory .div_business {padding: 0 0 0 3em; margin-bottom: 187px;}
.dormitory .business_score {font-size: 17px;}

		
/*지도팝업*/
.map_modal_btn {border: 1px solid #f5f5f5 ;  width: 31.5%;height: 320px;float: left;margin: 0px 20px 20px 0px;
  background: #f5f5f5;border-radius: 0px;text-transform: inherit !important;}
  
  .map .btn .talent_title {padding: 25px 30px 0px 30px;            font-size: 22px;font-weight: 700;
  color: #333333;display: block;float: none;text-transform: inherit;
  letter-spacing: -1px}
  .map .btn .fl2 {padding-top: 1px;color: #2c2c2c;font-size: 16px;text-align: center;letter-spacing: 0px;line-height: 25px;	}
  .map .btn .fl2 span{color:#005090; }
  .map .modal-dialog {width: 900px;margin: 250px auto;}
  .map .modal-content {padding: 5px 30px 30px 30px;width: 900px;height: auto;	}
  .map .modal-content .fl span{color:#005090; }
  
  .img_map_modal{width:550px; margin-bottom: 20px;}
  .map .modal-dialog .fl {font-size: 24px;font-weight: 500;line-height: 36px;height:350px;}
  .map .modal-dialog .fl2 {font-size: 16px;color: #4b4b4b}
  .modal-footer {border: none;}
  .modal-footer button {border: none;background: no-repeat;	}
  

/**포폴 썸네일 설명글*/
.portfolio-item-paragraph{font-size:13px;margin-bottom:0;    line-height: 26px;    margin-top: 5px; color:#666}


  .map .modal-content span{font-size:20px ; font-weight:bold ; color:#153456; margin-bottom:10px;    display: inline-block;}
  .map .modal-content p{font-size:16px; }
    @media screen and (max-width: 769px){
      .map .btn {width: 100%;margin-right: 0;}
      .map .btn .fl {padding: 25px 20px 0px 20px;font-size: 42px;}
      .map .modal-dialog {width: 100%;margin: 100px auto;}
      .map .modal-content {width: 100%;margin: 100px auto;}
      .map .modal-dialog .fl {float: none;height: auto;padding: 0px;
        line-height: 32px;font-size: 24px;}
      .map .modal-dialog .fl2 {padding-top: 1em;font-size: 14px;}
      .modal-footer {padding: 15px 0px;}
      }
  
  
/*수도권환경 공종도*/
.video-popup.reveal {
  display: flex;
  position: fixed;
  top: 0;
  left: 5%;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index:9
}

.video-popup .video-wrapper {
  position: relative;
  width: 38%;  
  z-index: 10
}

.video-popup .video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-popup.reveal .video-popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9
} 
.video_close {
  position: absolute;
  font-size: 85px;
  z-index: 9999999;
  right: -12%;
  cursor: pointer;
  top: 3%;
  color: white;
}

#sudoe_gongjong01, #sudoe_gongjong02, #sudoe_gongjong03, #sudoe_gongjong04, #sudoe_gongjong05, #sudoe_gongjong06, #sudoe_gongjong07, #sudoe_gongjong08, #sudoe_gongjong09,#sudoe_gongjong10 {display:none;}
#sudoe_gongjong00{display:block;transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;}
.div_gongjong_left{}
.div_gongjong_right{text-align: center;padding: 1%;border: 1px solid #d7d7d7;
    background-color: #f7f7f7;}	
.arrow2 .gongjong_arrow {
	float:left;
    position: absolute; left: 50%;    top: 10%;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: -12px;
    border-left: 5px solid #2877f1;
    border-bottom: 5px solid #123461;
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}		

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-130deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-130deg) translate(-20px, 20px);
    opacity: 0;
  }
 }
 @keyframes sdb {
  0% {
    transform: rotate(-130deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-130deg) translate(-20px, 20px);
    opacity: 0;
  }
 } 


.popupVideo{background-color: red;box-shadow: 3px 3px 3px #111;
    border:2px solid #fff;padding:40px}
.popupVideo i{font-size:100px;    text-shadow: 3px 3px 3px #333;}
.popupVideo:hover{opacity:0.9}
.popupVideo i:hover{color:yellow !important;}    
.sudoe_pop_title{position: absolute;    margin: 0 auto; font-size:33px; color:white;font-weight:bold;   text-align: center;    left: 34%;    top: 5%;
    text-shadow: 3px 3px 3px #555;}
.sudoe_pop_position01{position:absolute;top:25%;left:2%;
background: url(../images/env/video/video_c3_1.jpg) no-repeat 0 0;background-size: cover;}
.sudoe_pop_position02{position:absolute;top:25%;right:2%;
background: url(../images/env/video/video_c3_2.jpg) no-repeat 0 0;background-size: cover;}
.sudoe_pop_position03{position:absolute;top:5%;left:2%;
background: url(../images/env/video/video_c4_1.jpg) no-repeat 0 0;background-size: cover;padding: 20px;}
.sudoe_pop_position04{position:absolute;top:5%;right:2%;
background: url(../images/env/video/video_c4_2.jpg) no-repeat 0 0;background-size: cover;padding: 20px;}
.sudoe_pop_position03_1{position:absolute;bottom:5%;left:2%;
background: url(../images/env/video/video_c4_4.jpg) no-repeat 0 0;background-size: cover;padding: 20px;}
.sudoe_pop_position04_1{position:absolute;bottom:5%;right:2%;
background: url(../images/env/video/video_c4_5.jpg) no-repeat 0 0;background-size: cover;padding: 20px;}
.sudoe_pop_position05{position:absolute;top:25%;left:2%;
background: url(../images/env/video/video_m3_1.jpg) no-repeat 0 0;background-size: cover;}
.sudoe_pop_position06{position:absolute;top:25%;right:2%;
background: url(../images/env/video/video_m3_2.jpg) no-repeat 0 0;background-size: cover;}


.div_gongjong p{ margin: 10px 0;    font-size: 22px;}
.div_gongjong_right .arrow2{position:relative;text-align: center;height: 37px;top: 10px;    left: -25px;float:left}
.div_gongjong_right button{font-size: 17px; float:left;    margin-right: 30px;font-weight: bold !important;
    margin-bottom: 10px;padding: 15px;    letter-spacing: -1px;    min-width: 125px;}				
.div_gongjong_right button.on{background-color:#153456}
.div_gongjong_right.bgblue button.on{background-color:#2877f1}			

.gongjong_area{position: absolute;width: 70px;height: 30px; cursor:pointer  /* background-color: red;*/}
.gongjong_area.area1{top: 15px; right: 147px;}
.gongjong_area.area2{top: 24px; right: 14px;}        		
/*//수도*/

/*일성*/

.nav>li>a:focus, .nav>li>a:hover{background: transparent!important;}
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
	background-color: rgba(1,1,1,0.5);
    border:2px solid #4f709c;
    position: relative;
    padding: 16px 30px 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
  font-size:20px;
    margin-bottom: 16px;color:white;font-weight:bold;
}
.design-process-content p {
  font-size:18px;
    line-height: 26px;color:white;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
/*     max-width: 800px; */
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: 44px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #1770a5;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 16%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li a:hover{color: #1770a5;}
.process-model li.active,
.process-model li.visited {
    color: #1770a5;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #1770a5;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;color:#87d2ff;
    color: #1770a5;
}
.process-model li i {
    display: block;
    height: 80px;
    width: 80px;    text-align: center;    margin: 0 auto;    background: #f5f6f7;    border: 2px solid #e5e5e5;    line-height: 65px;
    font-size: 34px;    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;    border-color: #1770a5;
}
.process-model li p {color:white;
    font-size: 17px;    margin-top: 11px;}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}

 
/*//일성*/


/*골프장*/
/*일일매출박스*/

.golfday_wrap {position: absolute;left: 3%;    bottom: 4%;;}
.golfday_wrap  .div_box {
     width: 450px;
     height: 270px;
     /*border-radius: 15px;*/
     letter-spacing: -1px;
     background: url(../images/bg.jpg) no-repeat 0 0;
     background-size: cover;
    box-shadow: #222 7px 5px 15px 5px}

.golfday_wrap  .top_txt {padding: 5px 20px;text-align:left}
.golfday_wrap  .top_txt h1 {
     font-size: 27px;     margin: 10px;
     border-bottom: 1px solid #d7d7d7;
     font-weight: bold;}

.golfday_wrap .ul_data {padding: 0 30px;}
.golfday_wrap .ul_data li {color: white; list-style:none;clear:both; margin-bottom:15px;    display: block;    padding: 10px 5px;}
.golfday_wrap .ul_data li .box {
     font-size: 27px;
     font-weight: bold;
     text-align: center;
     width: 170px;
     padding: 8px 15px;
     /*transform: skew(20deg);*/ color: white
 }
 .golfday_wrap .ul_data li .tit{font-weight:bold; font-size:40px}
 .golfday_wrap .ul_data li .unit {
     font-weight: bold;
     font-size: 27px;
     margin-left: 5px}
 .golfday_wrap .ul_data li .num{font-weight:bold; font-size:41px}
 .golfday_wrap  .bg_red {
     background: linear-gradient(90deg, #d76e15 0%, rgba(194,73,16,1) 35%, rgba(194,65,17,1) 100%)}
 .golfday_wrap .bg_blue{background: linear-gradient(90deg, rgba(56,177,242,1) 0%, rgba(45,98,234,1) 35%, rgba(25,65,235,1) 100%);}
  .golfday_wrap .bg_green {background: linear-gradient(90deg, rgba(26,197,92,1) 0%, rgba(36,100,80,1) 35%, rgba(25,65,69,1) 100%);}     
  /*//일일매출박스*/
/*클럽디말풍선*/
  .triangle-right {
    position:absolute; top:222px;left:333px;font-weight:bold;
    font-size:17px;
    padding:6px;width:auto;display:inline;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }
  .triangle-right:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 11px;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: #075698 transparent;
    display: block;
    width: 0;
} 

.img_cart{width: 43px;  position: absolute;  margin-top: 27px;  margin-left: 15px;}

.BoeunEast p, .GeochangSouth p, .SongnisanEast p { z-index:9999999;background:#ffa904; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffa904), to(#a56300));
  background:-moz-linear-gradient(#ffa904, #a56300);
  background:-o-linear-gradient(#ffa904, #a56300);
  background:linear-gradient(#ffa904, #a56300);
 }
.BoeunEast .triangle-right:after, .GeochangSouth .triangle-right:after, .SongnisanEast .triangle-right:after{border-color: #a56300 transparent;}
.BoeunWest p{z-index:999999}

 .SongnisanWest p, .GeochangEast p { z-index:9999999;background:#ed1a3b; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#c7717e), to(#ed1a3b));
  background:-moz-linear-gradient(#c7717e, #ed1a3b);
  background:-o-linear-gradient(#c7717e, #ed1a3b);
  background:linear-gradient(#c7717e, #ed1a3b);
 }
 
 .SongnisanEast .triangle-right:after, .GeochangEast .triangle-right:after{border-color: #ed1a3b transparent;}
 .SongnisanWest .triangle-right:after{border-color: #e82443 transparent;}
.SongnisanEast .triangle-right:after{border-color: #a56300 transparent}
.GeochangEast .triangle-right:after{border-color: #ed1a3b transparent;}
 /*//말풍선*/
/*카트좌표 b=보은 s=속리산 g=금강 gc=거창, + w=WEST e=East, _숫자 = par
  be01_1 = 보은EAST 1홀-1번째
*/

/*보은EAST*/
.be01_1{ top: 552px;  left: 1117px;}
.be01_2{top: 516px;  left: 1228px;}
.be01_3{top: 468px;  left: 1412px;}
.be01_4{top: 445px;  left: 1521px; }
.be02_1{top: 383px;  left: 1600px;}
.be02_2{top: 362px;  left: 1510px;}
.be02_3{top: 362px;  left: 1354px;}
.be03_1{top: 277px;  left: 1277px;}
.be03_2{top: 253px;  left: 1399px;}
.be04_1{top: 219px;  left: 1517px;}
.be04_2{top: 287px;  left: 1616px;}
.be04_3{top: 349px;  left: 1739px;}
.be05_1{top: 568px;  left: 1725px;}
.be05_2{top: 626px;  left: 1667px;}
.be05_3{top: 718px;  left: 1568px;}
.be06_1{top: 766px;  left: 1469px;}
.be06_2{top: 766px;  left: 1358px;}
.be06_3{top: 758px;  left: 1236px;}
.be07_1{top: 691px;  left: 1288px;}
.be07_2{top: 691px;  left: 1421px;}
.be07_3{top: 650px;  left: 1524px;}
.be07_4{top: 567px;  left: 1616px;}
.be08_1{top: 476px;  left: 1590px;}
.be08_2{top: 548px;  left: 1493px;}
.be09_1{top: 573px;  left: 1375px;}
.be09_2{top: 604px;  left: 1258px;}
.be09_3{top: 633px;  left: 1154px;}
 /*보은weST*/
.bw01_1{top: 677px;  left: 933px;}
.bw01_2{top: 647px;  left: 832px;}
.bw01_3{top: 579px;  left: 723px;}
.bw01_4{top: 579px;  left: 723px;}
.bw02_1{top: 459px;  left: 700px;}
.bw02_2{top: 509px;  left: 793px;}
.bw02_3{top: 530px;  left: 932px;}
.bw03_1{top: 438px;  left: 1025px;}
.bw03_2{top: 438px;  left: 932px;}
.bw04_1{top: 438px;  left: 813px;}
.bw04_2{top: 381px;  left: 753px;}
.bw04_3{top: 340px;  left: 632px;}
.bw05_1{top: 308px;  left: 464px;}
.bw05_2{top: 236px;  left: 386px;}
.bw05_3{top: 188px;  left: 276px;} 
.bw05_4{top: 125px;  left: 166px;}
.bw06_1{top: 212px;  left: 61px;}
.bw06_2{top: 315px;  left: 99px;}
.bw06_3{top: 401px;  left: 191px;}
.bw07_1{top: 387px;  left: 272px;}
.bw07_2{top: 326px;  left: 206px;}
.bw08_1{top: 302px;  left: 275px;}
.bw08_2{top: 354px;  left: 356px;}
.bw08_3{top: 402px;  left: 444px;}
.bw08_4{top: 448px;  left: 526px;}
.bw09_1{top: 667px;  left: 723px;}
.bw09_2{top: 729px;  left: 842px;}
.bw09_3{top: 751px;  left: 954px;}


/*속리산EAST*/
.se01_1{ top: 549px;  left: 1162px;}
.se01_2{top: 478px;  left: 1218px;}
.se01_3{top: 334px;  left: 1268px;} 
.se02_1{top: 277px;  left: 1307px;}
.se02_2{top: 362px;  left: 1354px;}
.se02_3{top: 362px;  left: 1510px;}
.se03_1{top: 478px;  left: 1493px;}
.se03_2{top: 583px;  left: 1445px;}
.se03_3{top: 673px;  left: 1335px;}
.se03_4{top: 701px;  left: 1238px;}
.se04_1{top: 758px;  left: 1266px;}
.se04_2{top: 868px;  left: 1216px;} 
.se05_1{top: 878px;  left: 1146px;}
.se05_2{top: 778px;  left: 1146px;}
.se05_3{top: 708px;  left: 1126px;}
.se06_1{top: 653px;  left: 1084px;}
.se06_2{    top: 644px;  left: 1198px;}
.se06_3{    top: 563px;  left: 1325px;}
.se06_4{    top: 478px;  left: 1423px;}
.se07_1{    top: 438px;  left: 1363px;}
.se07_2{    top: 533px;  left: 1255px;} 
.se08_1{top: 589px;  left: 1132px;}
.se08_2{top: 594px;  left: 1072px;}
.se08_3{top: 664px;  left: 912px;}
.se09_1{    top: 604px;  left: 862px;}
.se09_2{top: 584px;  left: 942px;}
.se09_3{top: 504px;  left: 1032px;}
 /*속리산weST*/
.sw01_1{top: 288px;  left: 882px;}
.sw01_2{top: 228px;  left: 792px;}
.sw01_3{top: 98px;  left: 672px;} 
.sw02_1{top: 208px;  left: 683px;}
.sw02_2{top: 258px;  left: 753px;}
.sw02_3{top: 348px;  left: 793px;}
.sw02_4{top: 408px;  left: 813px;}
.sw03_1{top: 419px;  left: 911px;}
.sw03_2{top: 499px;  left: 821px;}
.sw04_1{    top: 459px;  left: 741px;}
.sw04_2{    top: 379px;  left: 711px;}
.sw04_3{    top: 269px;  left: 661px;}
.sw05_1{    top: 189px;  left: 521px;}
.sw05_2{    top: 216px;  left: 416px;}
.sw05_3{top: 228px;  left: 276px;}  
.sw06_1{top: 168px;  left: 276px;}
.sw06_2{    top: 166px;  left: 386px;}
.sw06_3{top: 139px;  left: 521px;}
.sw07_1{    top: 110px;  left: 406px;}
.sw07_2{top: 83px;  left: 266px;}
.sw08_1{    top: 13px;  left: 266px;}
.sw08_2{top: 38px;  left: 366px;}
.sw08_3{    top: 48px;  left: 436px;}
.sw08_4{top: 7px;  left: 596px;}
.sw09_1{top: 68px;  left: 742px;}
.sw09_2{top: 128px;  left: 772px;}
.sw09_3{top: 218px;  left: 882px;}

/*거창EAST*/ 
.gce01_1{     top: 389px;  left: 753px;}
.gce01_2{top: 399px;  left: 663px;}
.gce01_3{    top: 409px;  left: 513px;} 
.gce02_1{    top: 448px;  left: 444px;}
.gce02_2{top: 448px;  left: 354px;}
.gce02_3{top: 421px;  left: 191px;}
.gce03_1{top: 377px;  left: 272px;}
.gce03_2{    top: 389px;  left: 413px;}
.gce04_1{top: 330px;  left: 396px;}
.gce04_2{top: 326px;  left: 484px;}
.gce04_3{top: 330px;  left: 562px;}
.gce04_4{top: 330px;  left: 682px;} 
.gce05_1{top: 424px;  left: 813px;}
.gce05_2{top: 459px;  left: 700px;}
.gce05_3{top: 474px;  left: 590px;}
.gce06_1{top: 498px;  left: 494px;}
.gce06_2{top: 505px;  left: 424px;}
.gce06_3{top: 514px; left: 324px;}
.gce06_4{top: 499px;  left: 214px;}
.gce07_1{top: 549px;  left: 144px;}
.gce07_2{top: 598px;  left: 244px;}
.gce08_1{top: 558px;  left: 284px;}
.gce08_2{top: 578px;  left: 354px;}
.gce08_3{top: 564px;  left: 514px;}
.gce09_1{    top: 540px;  left: 604px;}
.gce09_2{top: 520px;  left: 704px;}
.gce09_3{top: 499px;  left: 812px;}
 /*거창weST*/
.gcw01_1{ top: 440px;  left: 1122px;}
.gcw01_2{top: 464px;  left: 1212px;}
.gcw01_3{top: 490px;  left: 1328px;}
.gcw02_1{top: 520px;  left: 1432px;}
.gcw02_2{top: 620px;  left: 1442px;}
.gcw03_1{top: 590px;  left: 1522px;}
.gcw03_2{top: 590px;  left: 1592px;}
.gcw03_3{top: 550px;  left: 1772px;}
.gcw04_1{top: 606px;  left: 1752px;}
.gcw04_2{top: 642px;  left: 1662px;}
.gcw04_3{top: 652px;  left: 1542px;}
.gcw05_1{top: 652px;  left: 1412px;}
.gcw05_2{top: 652px;  left: 1272px;}
.gcw05_3{top: 652px;  left: 1142px;}
.gcw06_1{top: 602px;  left: 1072px;}
.gcw06_2{top: 632px;  left: 942px;}
.gcw06_3{top: 634px;  left: 822px;}
.gcw06_4{top: 634px;  left: 735px;}
.gcw07_1{top: 566px;  left: 803px;}
.gcw07_2{top: 566px;  left: 923px;}
.gcw08_1{top: 526px;  left: 973px;}
.gcw08_2{top: 556px;  left: 1053px;}
.gcw08_3{top: 574px;  left: 1123px;}
.gcw08_4{top: 590px;  left: 1263px;}
.gcw09_1{top: 526px;  left: 1302px;}
.gcw09_2{top: 526px;  left: 1222px;}
.gcw09_3{top: 513px;  left: 1102px;}

/*거창south*/
.gcs01_1{top: 417px;  left: 1153px;}
.gcs01_2{top: 429px;  left: 1247px;}
.gcs01_3{top: 436px;  left: 1358px;}
.gcs02_1{top: 524px;  left: 1513px;}
.gcs02_2{top: 520px;  left: 1602px;}
.gcs02_3{top: 490px;  left: 1712px;}
.gcs03_1{top: 413px;  left: 1712px;}
.gcs03_2{top: 423px;  left: 1632px;}
.gcs03_3{top: 443px;  left: 1522px;}
.gcs04_1{top: 378px;  left: 1362px;}
.gcs04_2{top: 358px;  left: 1252px;}
.gcs05_1{top: 353px;  left: 1380px;}
.gcs05_2{top: 363px;  left: 1450px;}
.gcs05_3{top: 373px;  left: 1570px;}
.gcs05_4{top: 373px;  left: 1670px;}
.gcs06_1{top: 296px;  left: 1670px;}
.gcs06_2{top: 296px;  left: 1570px;}
.gcs06_3{top: 276px;  left: 1430px;}
.gcs07_1{top: 276px;  left: 1320px;}
.gcs07_2{top: 256px;  left: 1210px;}
.gcs08_1{top: 278px;  left: 1080px;}
.gcs08_2{top: 278px;  left: 940px;}
.gcs08_3{top: 278px;  left: 850px;}
.gcs08_4{top: 278px;  left: 750px;}
.gcs09_1{top: 335px;  left: 882px;}
.gcs09_2{top: 347px;  left: 962px;}
.gcs09_3{top: 347px;  left: 1152px;}

@media screen and (max-width: 480px){ 
.wrap{width:100%;}
.section01_2{width:95%;    margin: 0 auto;}
.content_50{display:none}

.content_01, .content_02, .content_03, .content_04{float:none;width:100%;height:inherit}
.content_01-1, .content_01-2, .content_02-1, .content_02-2{clear:both}
.content_01-1, .content_01-2, .content_02-1, .content_02-2, .content_03-1, .content_03-2, .content_04-1, .content_04-2{height:100%;}
/*차트*/
.section_data li{width:95%;}
}


.po {display:none;}
#content_04{height: 100%;}
.chartDiv {width: 100% !important;height: 250px !important;font-size:11px !important}
.cart_map p {display:none;}
.cart_map img {display:none;}
.txt_live{color: #dcdcdc;
    padding: 0;
    text-align: left;
    margin: 3px;
    margin-left: 55px;
    font-weight: bold;
    font-size: 19px;
    position: relative;    
    left: -31px;
    }
.infra_iframe{width: 767px;position: relative;height: 460px;top: -42px;}

.content01_main{background: url(/resource/images/main/environment1.jpg) no-repeat 100% 0%; background-size: 110%}
.content01_env{background: url(/resource/images/main/environment.jpg) no-repeat 86% 53%; background-size: 110%}
.content01_env_sudoe{background: url(/resource/images/main/sudoe.jpg) no-repeat 100% 0%; background-size: 100%}
.content02_env_sudoe{background: url(/resource/images/env/sudoe_gongjong.jpg) no-repeat 100% 0%; background-size: 100%;width:796px;height:558px}
.content01_env_ilsung{background: url(/resource/images/ilsung/ilsung_textbg.jpg) no-repeat 50% 50%; background-size: 100%}
.content02_env_ilsung{background: url(/resource/images/ilsung/ilsung_gongjong.jpg) no-repeat 50% 50%; background-size: 100%;width:900px;height:533px}

.content01_golf{background: url(/resource/images/golf/bg_boeun.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_golf_boeun{background: url(/resource/images/golf/bg_boeun.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_golf_songnisan{background: url(/resource/images/golf/bg_songnisan.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_golf_geumgang{background: url(/resource/images/golf/bg_geumgang.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_golf_geochang{background: url(/resource/images/golf/bg_geochang.jpg) no-repeat 100% 0%; background-size: 100%}

.content01_infra_ulsan{background: url(/resource/images/infra/bg_ulsan.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_infra_kyungki{background: url(/resource/images/infra/bg_kyungki.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_infra_yongseo{background: url(/resource/images/infra/bg_yongseo.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_infra_chunnon{background: url(/resource/images/infra/bg_chunnon.jpg) no-repeat 100% 0%; background-size: 100%}
.content01_infra_sujeong{background: url(/resource/images/infra/bg_sujeong.jpg) no-repeat 100% 0%; background-size: 100%}

.navi_yido{background: url(/resource/images/main/btn01.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
.navi_env{background: url(/resource/images/main/btn02.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
.navi_infra{background: url(/resource/images/main/btn03.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
.navi_asset{background: url(/resource/images/main/btn04.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
.navi_golf{background: url(/resource/images/main/btn05.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
.navi_be{background: url(/resource/images/main/btn06.png) no-repeat 100% 0%; background-size: 100%;height: 200px;}
