/*@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
html.fh5co-overflow, body.fh5co-overflow {
  overflow-x: auto;
}
html.fh5co-overflow #fh5co-header-section, html.fh5co-overflow #fh5co-main, html.fh5co-overflow #fh5co-hero, html.fh5co-overflow #fh5co-mobile-menu, html.fh5co-overflow #fh5co-footer, body.fh5co-overflow #fh5co-header-section, body.fh5co-overflow #fh5co-main, body.fh5co-overflow #fh5co-hero, body.fh5co-overflow #fh5co-mobile-menu, body.fh5co-overflow #fh5co-footer {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}*/

/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2)
		format('woff2'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff)
		format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix)
		format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2)
		format('x-woff2'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff)
		format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src:
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2)
		format('x-woff2'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff)
		format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf)
		format('truetype');
}

@import
	url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css)
	;

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
		format('opentype');
}

body {
	/*170116 notosans ����*/
	font-family: 'NanumSquare', 'Noto Sans KR', 'Noto Sans Korean',
		Malgun Gothic, "�������", arial, sans-serif;
	font-size: 21px;
	line-height: 1.5;
	font-weight: normal;
	color: #2e2e2e;
	background-color: white !important
}

.normal {
	font-weight: 400
}

.bold {
	font-weight: 700
}

.bolder {
	font-weight: 800
}

.light {
	font-weight: 300
}

hr {
	border-top: 1px solid #d0d0d0 !important;
}
/*�������*/
/*body {
  font-family: 'Nanum Gothic', arial,  'Malgun Gothic','����','Dotum', sans-serif;
  letter-spacing:-0.05em;
  font-size: 21px;  line-height: 1.5;  font-weight: 300;  color: #2e2e2e;}*/
@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 1.5;
	}
}

::-webkit-selection {
	color: #ffffff;
	background: #123461;
}

::-moz-selection {
	color: #ffffff;
	background: #123461;
}

::selection {
	color: #ffffff;
	background: #123461;
}

a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #123461;
	border-bottom: 2px solid transparent;
}

a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
	color: #2e2e2e;
	border-bottom: 2px solid #1a3559;
}

input {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* Heading */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin: 0 0 20px 0;
	padding: 0;
}

h1, .h1 {
	font-size: 30px;
	line-height: 42px;
	font-weight: bolder
}

.sub_container h1 {
	margin-bottom: 30px;
}

h2, .h2 {
	font-size: 24px;
	line-height: 38px;
}

h3, .h3 {
	font-size: 26px;
	line-height: 32px;
}

h4, .h4 {
	font-size: 18px;
	line-height: 28px;
}

h5, .h5 {
	font-size: 15px;
	line-height: 26px;
	font-weight: normal;
	color: #888888
}

h6, .h6 {
	font-size: 12px;
	line-height: 24px;
}

ul, ol {
	padding-left: 15px;
	line-height: 26px;
}

ul ul, ul ol, ol ul, ol ol {
	padding-left: 0px;
}

p {
	margin: 0 0 20px 0; /* font-size: 14px;*/
}

.fh5co-serif {
	/*  font-family: 'Nanum Gothic', serif;*/
	
}

.fh5co-feature-description {
	font-size: 14px;
	color: #666666
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"],
	textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.fh5co-lead-wrap {
	padding-top: 30px;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.fh5co-lead-wrap {
		padding: 2em;
	}
}

.fh5co-lead {
	font-size: 40px;
	line-height: 52px;
}

@media screen and (max-width: 768px) {
	.fh5co-lead {
		font-size: 30px;
		line-height: 42px;
	}
}

@media screen and (max-width: 480px) {
	.col-xxs-12 {
		display: block;
		clear: both;
		width: 100%;
		float: left;
	}
}

/* Header */
#fh5co-header-section {
	width: 100%;
	height: 75px;
	padding: 0px 0 0 0;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: fixed;
	float: left;
	top: 0;
	left: 0 !important;
	right: 0;
	z-index: 103;
}
/*��� ��ũ�ѳ������� css*/
#fh5co-header-section.fh5co-scrolled {
	height: 75px;
	padding: 0px 0;
	background: rgba(0, 0, 0, 0.8);
	background: white;
	border-bottom: 2px solid #3f2210;
	-webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-header-section.fh5co-scrolled #fh5co-logo a {
	color: #2e2e2e;
}

#fh5co-header-section.fh5co-scrolled #fh5co-logo a:hover {
	color: #7b7b7b;
}

#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu a {
	color: #2e2e2e;
	letter-spacing: -1px
}

/*GNB�޴��� hover*/
#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu a:hover {
	color: #999999 !important;
	/*border-bottom:3px solid #123461 !important*/
}

#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu li.active>a
	{
	color: #123461 !important;
}

#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap>.sf-menu>li>a {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	letter-spacing: -1px
}

/*��� �ΰ�*/
#fh5co-logo {
	background: url(../images/main/yidologo_white.png) no-repeat 0 0;
	font-size: 20px;
	margin: 8px 0 0 0;
	padding: 0;
	font-weight: bold;
	display: block;
	opacity: 0.9
}

.fh5co-scrolled #fh5co-logo {
	background: url(../images/main/yidologo.png) no-repeat 0 0 !important;
	opacity: 1.0
}

#fh5co-logo a {
	border-bottom: none !important;
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/*����Ͽ� ��ܷΰ� ������480px����*/
#fh5co-logo-mobile-logo {
	background: url(../images/main/yidologo_mobile.png) no-repeat 0 0;
	display: block;
	position: absolute;
	top: 8px;
	left: 48px;
	width: 126px;
	height: 51px;
}

@media screen and (max-width: 768px) {
	#fh5co-logo {
		text-align: center;
		margin: 0 0 0 0;
		float: none !important;
	}
}

/* Superfish Override Menu */
.sf-menu {
	margin: 0 !important;
	float: right;
}

.sf-menu ul {
	box-shadow: none;
	border: transparent;
	min-width: 8em;
	*width: 8em;
}

.sf-menu a {
	color: rgba(255, 255, 255, 1.0);
	padding: .75em 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-left: none;
	border-top: none;
	border-top: none;
	text-decoration: none;
	zoom: 1;
	font-size: 13px;
	border-bottom: none !important;
}

.sf-menu li, .sf-menu ul li, .sf-menu ul ul li, .sf-menu li:hover,
	.sf-menu li.sfHover {
	background: transparent;
}

.sf-menu ul li a, .sf-menu ul ul li a {
	text-transform: none;
	padding: .75em 1em;
	letter-spacing: 1px;
}

.sf-menu li:hover a, .sf-menu li.sfHover a, .sf-menu ul li:hover a,
	.sf-menu ul li.sfHover a, .sf-menu li.active a {
	color: #ffffff;
	font-weight: bold;
}

.sf-menu ul li:hover, .sf-menu ul li.sfHover {
	background: transparent;
}

.sf-menu ul li {
	background: transparent;
	padding: 10px 30px
}

.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #ccc;
}

.sf-arrows>li>.sf-with-ul:focus:after, .sf-arrows>li:hover>.sf-with-ul:after,
	.sf-arrows>.sfHover>.sf-with-ul:after {
	border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #ccc;
}

.sf-arrows ul li>.sf-with-ul:focus:after, .sf-arrows ul li:hover>.sf-with-ul:after,
	.sf-arrows ul .sfHover>.sf-with-ul:after {
	border-left-color: #ccc;
}

#fh5co-menu-wrap .sf-menu a {
	padding: 1.5em;
	font-weight: normal;
	letter-spacing: -1px
}

#fh5co-primary-menu>li>ul li.active>a {
	color: #123461 !important;
}

#fh5co-primary-menu>li>.sf-with-ul:after {
	border: none !important;
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	float: right;
	margin-right: 5px;
	top: 50%;
	margin-top: -7px;
	content: "\e64b";
	color: rgba(0, 0, 0, 0.5);
}

#fh5co-primary-menu>li>ul li>.sf-with-ul:after {
	border: none !important;
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	float: right;
	margin-right: 10px;
	top: 13px;
	font-size: 12px;
	content: "\e649";
	color: rgba(255, 255, 255, 0.3);
}

#fh5co-primary-menu .fh5co-sub-menu {
	padding: 15px 0 10px;
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

#fh5co-primary-menu .fh5co-sub-menu:before {
	position: absolute;
	top: -9px;
	right: 20px;
	width: 0;
	height: 0;
	content: '';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
	position: absolute;
	top: -8px;
	right: 21px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #123461;
	border-bottom: 8px solid rgba(0, 0, 0, 0.8);
	border-left: 8px solid transparent;
	content: '';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
	top: 6px;
	right: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
	top: 7px;
	right: 100%;
	border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
	border-color: #ebebeb;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19);
}

.site-header.has-image #primary-menu .sub-menu:before {
	display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
	letter-spacing: -1px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 26px;
	color: #ffffff !important;
	text-transform: none;
	background: none;
}

#fh5co-primary-menu .fh5co-sub-menu a:hover {
	color: #999999 !important;
}

/* Mobile Menu */
#fh5co-mobile-menu-btn {
	padding: 0 10px;
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	background: #13b5b1;
	height: 44px;
	display: table;
}

#fh5co-mobile-menu-btn i {
	line-height: 25px;
	display: table-cell;
	vertical-align: middle;
	font-size: 22px;
	color: #fff;
}

#fh5co-mobile-menu {
	-moz-transform: translateX(-275px);
	-webkit-transform: translateX(-275px);
	-ms-transform: translateX(-275px);
	transform: translateX(-275px);
	display: block;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 275px;
	z-index: 10002;
	background: #181920;
	padding: 0.75em 1.25em;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul {
	padding: 0;
	margin: 0;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul li {
	list-style: none;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul li.active>a {
	color: #ffffff;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul a {
	border-bottom: none !important;
	padding: 7px 0;
	display: block;
	color: #ccc;
	color: rgba(255, 255, 255, 0.5);
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul a:hover {
	color: #ffffff;
	color: white;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown {
	position: relative;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown:after {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 0;
	margin-top: 2px;
	content: "\e64b";
}
/*����� �ܹ��Ÿ޴�*/
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu {
	display: block;
	padding-left: 20px;
	font-size: 12px
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu li {
	list-style: none;
}

#fh5co-logo-mobile-wrap {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	height: 44px;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10001;
	background: white;
	color: #2e2e2e;
	-webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	-o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-logo-mobile-wrap h1 {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

#fh5co-logo-mobile-wrap h1 a {
	border-bottom: none !important;
	color: #2e2e2e;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#fh5co-feature {
	background: #f5f5f5;
	padding: 5em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-feature {
		padding: 3em 0 2em 0;
	}
}

/********��ܸ���ȭ�� ���̼��� 2017.12.22********/
#fh5co-hero {
	background-color: #2e2e2e;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	color: #ffffff;
}

/*�̵�����*/
#fh5co-hero .fh5co-hero-wrap {
	display: table;
	height: 680px;
	width: 100%;
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.fh5co-hero-intro.fh5co-uppercase-heading-sm {
	margin-top: 250px;
	display: block
}
/*�����ؽ�Ʈ*/
.fh5co-hero-intro.fh5co-uppercase-heading-sm h2 { /*font-weight:300;*/
	
}

.fh5co-hero-intro h4 {
	padding-top: 20px;
}
/*YIDO ����*/
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro>h1 {
	font-size: 50px;
	font-weight: bold;
	line-height: 82px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
}

@media screen and (max-width: 768px) {
	.fh5co-uppercase-heading-sm { /*display:none !important*/
		
	} /*����Ͻ� ���ڰ���*/
	#fh5co-hero {
		background-position: center center;
		background-image: url(../images/main/main_new3.jpg);
		position: inherit !important;
	} /*����Ͻ� �����̹����� ��ü*/
	#main_video {
		display: none;
	} /*���� 768������� ����*/
}

@media screen and (max-width: 768px) {
	#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro>h1 {
		letter-spacing: 2px;
		font-size: 24px;
		line-height: 22px;
		font-weight: bold;
		margin-top: 20px;
	}
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro>h2 {
	letter-spacing: 0px;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 20px;
	position: relative;
	color: #fff;
	line-height: 44px;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro>h2 {
		letter-spacing: 1px;
		font-size: 20px;
	}
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro>h2>span {
	position: absolute;
	bottom: 0;
	display: block;
	background: rgba(255, 255, 255, 0.9);
	width: 50px;
	height: 3px;
	left: 50%;
	margin-left: -25px;
}

h2.fh5co-serif {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0;
}

#fh5co-hero .fh5co-hero-wrap .btn {
	color: #ffffff;
}

#fh5co-hero .fh5co-hero-wrap .btn:hover, #fh5co-hero .fh5co-hero-wrap .btn:active,
	#fh5co-hero .fh5co-hero-wrap .btn:focus {
	background: #123461;
	border-color: #123461;
}

body.inner-page #fh5co-hero {
	height: 400px;
}

body.inner-page #fh5co-hero .fh5co-hero-wrap {
	padding-top: 50px;
	height: 400px;
}

@media screen and (max-width: 768px) {
	#fh5co-hero, .fh5co-hero-wrap {
		position: relative;
		padding: 3em 0 3em 0;
		/* height: inherit !important;*/
	}
}

#fh5co-main {
	margin-top: 600px;
	padding-top: 60px;
	z-index: 102;
	position: relative;
	background: #ffffff;
}

@media screen and (max-width: 768px) {
	#fh5co-main {
		margin-top: 0;
		padding-top: 20px;
	}
}

body.inner-page #fh5co-main {
	margin-top: 400px;
}

@media screen and (max-width: 768px) {
	body.inner-page #fh5co-main {
		margin-top: 0px;
		padding-top: 20px;
	}
}

#fh5co-hero, #fh5co-main, #fh5co-logo-mobile-wrap {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

body.fh5co-mobile-menu-visible #fh5co-hero, body.fh5co-mobile-menu-visible #fh5co-main,
	body.fh5co-mobile-menu-visible #fh5co-logo-mobile-wrap {
	-moz-transform: translateX(275px);
	-webkit-transform: translateX(275px);
	-ms-transform: translateX(275px);
	transform: translateX(275px);
}

body.fh5co-mobile-menu-visible #fh5co-mobile-menu {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

/* Helper Classes */
/* Spacer */
.fh5co-spacer {
	clear: both;
	position: relative;
	border: none;
	padding: 0;
	margin: 0;
}

.fh5co-spacer-xlg {
	height: 150px;
}

@media screen and (max-width: 768px) {
	.fh5co-spacer-xlg {
		height: 70px;
	}
}

.fh5co-spacer-lg {
	height: 100px;
}

@media screen and (max-width: 768px) {
	.fh5co-spacer-lg {
		height: 50px;
	}
}

.fh5co-spacer-md {
	height: 80px;
}

@media screen and (max-width: 768px) {
	.fh5co-spacer-md {
		height: 30px;
	}
}

.fh5co-spacer-sm {
	height: 50px;
}

@media screen and (max-width: 768px) {
	.fh5co-spacer-sm {
		height: 20px;
	}
}

.fh5co-spacer-xs {
	height: 30px;
}

@media screen and (max-width: 768px) {
	.fh5co-spacer-xs {
		height: 20px;
	}
}

.fh5co-spacer-xxs {
	height: 20px;
}

.fh5co-letter-spacing {
	letter-spacing: 1px;
}

.fh5co-no-margin-bottom {
	margin-bottom: 0 !important;
}
/*lineheight����*/
.fh5co-uppercase-heading-sm {
	font-size: 45px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #333333;
	font-weight: bold;
	text-shadow: 2px 2px 2px #353535;
}

.form-group {
	margin-bottom: 30px;
}

.image-popup:hover {
	opacity: .7;
}

/* 
========================================
Components 
========================================
*/
/* Buttons */
.btn {
	border-bottom: none !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 10px;
}

.btn:hover, .btn:focus, .btn:active {
	box-shadow: none;
	outline: none !important;
	border-color: transparent;
}

.btn.fh5co-btn-icon {
	text-transform: none !important;
	letter-spacing: normal !important;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-outline {
	border: 1px solid #b8b8b8 !important;
	background: transparent;
	color: #2a2e37;
	background-color: #ffffff;
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
	/*border: 2px solid #282e3c !important;*/
	background: #282e3c;
	color: #ffffff;
}

.btn-primary {
	background: #13b5b1;
}

.btn-success {
	background: #00e195;
}

.btn-danger {
	background: #e02745;
}

.btn-info {
	background: #0bbff2;
}

.btn-warning {
	background: #ffd042;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
	border-color: transparent;
}

.btn-default:hover, .btn-default:active, .btn-default:focus,
	.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
	.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-info:hover,
	.btn-info:active, .btn-info:focus, .btn-warning:hover, .btn-warning:active,
	.btn-warning:focus, .btn-danger:hover, .btn-danger:active, .btn-danger:focus
	{
	background: #282e3c;
	color: #ffffff;
}

.form-control {
	box-shadow: none !important;
	border: 2px solid #ccc;
}

.form-control:hover, .form-control:focus, .form-control:active {
	outline: none;
	box-shadow: none !important;
}

/* Features*/
/* Feature 1 */
.fh5co-feature-1 .fh5co-feature-figure {
	margin-top: 5em;
}

@media screen and (max-width: 768px) {
	.fh5co-feature-1 .fh5co-feature-figure {
		text-align: center !important;
		margin-top: 0;
	}
}

@media screen and (max-width: 768px) {
	.fh5co-feature-1 .fh5co-feature-figure img {
		display: inline-block;
		margin: 0 auto;
	}
}

.fh5co-feature-1 .fh5co-feature-blurb ul {
	padding: 0;
	margin: 5em 0 0 0;
}

@media screen and (max-width: 480px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul {
		margin: 2em 0 0 0;
	}
}

.fh5co-feature-1 .fh5co-feature-blurb ul li {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	list-style: none;
}

.fh5co-feature-1 .fh5co-feature-blurb ul li>.fh5co-feature-blurb-text {
	float: right;
	width: 85%;
}

@media screen and (max-width: 992px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li>.fh5co-feature-blurb-text {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li>.fh5co-feature-blurb-text {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li>.fh5co-feature-blurb-text {
		width: 80%;
	}
}

.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
	float: left;
	width: 15%;
}

.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon i
	{
	font-size: 40px;
	color: #123461;
}

@media screen and (max-width: 992px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
		width: 20%;
	}
}

@media screen and (max-width: 768px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
		width: 10%;
	}
}

@media screen and (max-width: 480px) {
	.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
		width: 20%;
	}
}

.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-title {
	letter-spacing: 2px;
	margin-bottom: 0 !important;
}
/* Feature 2*/
.fh5co-feature-2 .fh5co-feature-item {
	margin-bottom: 30px;
}

.fh5co-feature-2 .fh5co-feature-title {
	letter-spacing: 2px;
}

.fh5co-feature-2 .fh5co-feature-icon {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.fh5co-feature-2 .fh5co-feature-icon i {
	font-size: 50px;
	color: #123461;
}

/*������50px*/
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle i {
	display: table-cell;
	vertical-align: middle;
	font-size: 50px;
}

/* Feature 3 */
.fh5co-feature-3 .fh5co-feature-item {
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.fh5co-feature-3 .fh5co-feature-item {
		display: block;
	}
}

.fh5co-feature-3 .fh5co-feature-icon {
	float: left;
	width: 15%;
	clear: right;
}

@media screen and (max-width: 480px) {
	.fh5co-feature-3 .fh5co-feature-icon {
		width: 20%;
	}
}

.fh5co-feature-3 .fh5co-feature-icon i {
	font-size: 30px;
	color: #123461;
}

.fh5co-feature-3 .fh5co-feature-blurb {
	float: right;
	width: 85%;
}

@media screen and (max-width: 480px) {
	.fh5co-feature-3 .fh5co-feature-blurb {
		width: 80%;
	}
}

/* Header */
.fh5co-header {
	text-align: center;
}

.fh5co-header .fh5co-heading {
	font-weight: bold;
	font-size: 45px;
	line-height: 57px;
}

@media screen and (max-width: 768px) {
	.fh5co-header .fh5co-heading {
		font-size: 30px !important;
		line-height: 42px !important;
	}
}

.fh5co-header .fh5co-heading-sub {
	color: #777;
	font-size: 18px;
	line-height: 30px;
}
/* Easy Rsponsive Tabs */
.fh5co-tab {
	clear: both;
	display: block;
}

.resp-tab-active {
	color: #123461;
}

.resp-content-active, .resp-accordion-active {
	display: block;
}

.fh5co-tab-menu-icon {
	font-size: 20px;
	position: relative;
	float: left;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.fh5co-tab-menu-icon {
		margin-top: 7px;
	}
}

#fh5co-feature-slider .fh5co-item-slide-text {
	margin-top: 0;
}

#fh5co-feature-slider .fh5co-item-slide-text>h2 {
	position: relative;
	padding-bottom: 10px;
	font-weight: bold
}

#fh5co-feature-slider .fh5co-item-slide-text>h2 span {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: /*40px;*/ 100%;
	height: 3px;
	background: #123461; /*background: rgba(0, 0, 0, 0.1);*/
}

@media screen and (max-width: 992px) {
	#fh5co-feature-slider .fh5co-item-slide-text {
		margin-top: 0em;
	}
}

@media screen and (max-width: 768px) {
	#fh5co-feature-slider .fh5co-item-slide-text {
		margin-top: 0em;
	}
}

@media screen and (max-width: 480px) {
	#fh5co-feature-slider .fh5co-item-slide-text {
		margin-top: 0em;
	}
}

#fh5co-testimonial {
	padding: 10em 0;
	background: #000 url(../images/hero2.jpg) no-repeat center center;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	#fh5co-testimonial {
		padding: 3em 0;
	}
}

#fh5co-testimonial blockquote {
	padding-left: 0;
	width: 70%;
	margin: 0 auto;
	color: #ffffff;
	border-left: none;
	font-size: 45px;
	line-height: 57px;
}

@media screen and (max-width: 768px) {
	#fh5co-testimonial blockquote {
		width: 100%;
		font-size: 35px;
		line-height: 47px;
	}
}

#fh5co-testimonial blockquote p {
	text-align: center;
	color: #ffffff;
}

#fh5co-testimonial .fh5co-testimonial-author {
	font-size: 18px;
}

#fh5co-testimonial .fh5co-uppercase-heading-sm {
	color: #ffffff;
}

#fh5co-newsletter {
	padding: 4em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-newsletter {
		padding: 2em 0;
	}
}
/*
  #fh5co-newsletter .fh5co-uppercase-heading-sm {
  color: rgba(0, 0, 0, 0.4);
}
*/
#fh5co-footer {
	border-top: 0;
	padding: 0;
	font-size: 14px;
	background-color: #1b1b1b;
}

@media screen and (max-width: 768px) {
	#fh5co-footer {
		padding: 2em 0;
	}
}

/* Accordions */
.panel-title a {
	font-size: 17px !important
}

.fh5co-accordion .panel-title>a:hover {
	border-bottom: none !important;
}

.fh5co-accordion .panel-heading {
	background: transparent;
	position: relative;
	cursor: pointer;
}

.fh5co-accordion .panel-heading .accordion-toggle {
	color: #123461;
}

.fh5co-accordion .panel-heading .accordion-toggle:after {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2e2e2e !important;
	position: absolute;
	content: "\e622";
	right: 15px;
	top: 16px;
}

.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
	color: #2e2e2e !important;
}

.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2e2e2e !important;
	position: absolute;
	content: "\e61a";
	right: 15px;
	top: 16px;
}

/* Progress Bars */
.progress {
	height: 15px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

.progress-bar {
	box-shadow: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

.progress-bar.progress-bar-default {
	background: #123461;
}

.progress-bar.progress-bar-success {
	background: #00e195;
}

.progress-bar.progress-bar-info {
	background: #0bbff2;
}

.progress-bar.progress-bar-warning {
	background: #ffd042;
}

.progress-bar.progress-bar-danger {
	background: #e02745;
}

/* Social Icons */
.fh5co-social-icons {
	text-align: center;
	padding: 0;
	margin: 0 0 2em 0;
}

.fh5co-social-icons li {
	list-style: none;
	display: inline;
	display: inline-block;
}

.fh5co-social-icons li a {
	padding: 0 10px;
	border-bottom: none !important;
}

.fh5co-social-icons li i {
	font-size: 30px;
}

/* Pricing Tables */
@media screen and (max-width: 992px) {
	.fh5co-pricing-table-1 .fh5co-pricing-table-item {
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 768px) {
	.fh5co-pricing-table-1 .fh5co-pricing-table-item {
		margin-bottom: 20px !important;
		float: left;
		width: 100%;
	}
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
	.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading
	{
	text-align: center;
	float: left;
	width: 100%;
	padding: 1em 2em;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading
	{
	background: #123461;
	color: #ffffff;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3
	{
	font-size: 70px;
	position: relative;
	display: inline-block;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup
	{
	position: absolute;
	top: 2px;
	margin-left: -7px;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup,
	.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span
	{
	font-size: 14px;
	text-transform: uppercase;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p
	{
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading
	{
	background: #123461;
	color: #ffffff;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body
	{
	border: 2px solid #ccc;
	border-top: none;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul
	{
	padding: 0;
	margin: 0;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li
	{
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body
	{
	border: 2px solid #123461;
	border-top: none;
}

/* Nav Links */
.fh5co-nav-links ul {
	padding: 0;
	margin: 0;
}
/*left menu ���� activeȰ��*/
.fh5co-nav-links ul li {
	margin: 17px 0 0 0;
	list-style: none;
	border-bottom: 1px solid #e2d4c9;
	clear: left;
}

.fh5co-nav-links ul li a {
	display: block;
}

.fh5co-nav-links ul li.active a {
	font-weight: bold;
	color: #2e2e2e;
	display: block;
	border-bottom: 2px solid #123461;
}

.fh5co-nav-links ul li a:hover {
	font-weight: bold;
	margin-left: 15px
}

/* Owl Override Style */
.owl-carousel .owl-controls, .owl-carousel-posts .owl-controls {
	margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev,
	.owl-carousel-posts .owl-controls .owl-nav .owl-next,
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 50%;
	margin-top: -29px;
	z-index: 9999;
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel-posts .owl-controls .owl-nav .owl-next
	{
	right: -15px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
	.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
	margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel-posts .owl-controls .owl-nav .owl-prev
	{
	left: -25px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
	margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
	right: -50px;
}

@media screen and (max-width: 768px) {
	.owl-carousel-posts .owl-controls .owl-nav .owl-next {
		right: 0px;
	}
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	left: -50px;
}

@media screen and (max-width: 768px) {
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
	.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
	.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
	color: #2e2e2e;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
	.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
	.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
	.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
	color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
	.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i
	{
	color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
	.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i
	{
	color: #ffffff;
}

@media screen and (max-width: 768px) {
	.owl-theme .owl-controls .owl-nav {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
	font-size: 30px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus
	{
	background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus
	{
	background: none !important;
}

.owl-theme .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: 0;
	margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	background: #123461;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
	background: none;
	border: 2px solid #123461;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	{
	background: none;
	border: 2px solid #123461;
}

/* Image Alignment */
img.fh5co-align-right {
	float: right;
	margin: 0 0 .5em 1em;
}

@media screen and (max-width: 480px) {
	img.fh5co-align-right {
		width: 100%;
		margin: 0 0 .5em 0;
	}
}

img.fh5co-align-left {
	float: left;
	margin: 0 1em .5em 0;
}

@media screen and (max-width: 480px) {
	img.fh5co-align-left {
		width: 100%;
		margin: 0 0 .5em 0;
	}
}

img.fh5co-align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a>img.fh5co-align-right {
	float: right;
	margin: 0 0 .5em 1em;
}

@media screen and (max-width: 480px) {
	a>img.fh5co-align-right {
		width: 100%;
		margin: 0 0 .5em 0;
	}
}

a>img.fh5co-align-left {
	float: left;
	margin: 0 1em .5em 0;
}

@media screen and (max-width: 480px) {
	a>img.fh5co-align-left {
		width: 100%;
		margin: 0 0 .5em 0;
	}
}

a>img.fh5co-align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*style custom*/
/*-------------------------------------------------------------------------------*/
#fh5co-feature-slider .fh5co-item-slide-text>p {
	font-size: 15px;
}

.bold {
	font-weight: bold
}

.boldnone {
	font-weight: normal !important
}

.colorblack {
	color: #333333 !important
}

.colorsilver {
	color: #666666 !important
}

.colorwhite {
	color: #ffffff !important
}

.colorgreen {
	color: #036e5a !important
}

.mt50 {
	margin-top: 50px !important
}

.mt80 {
	margin-top: 80px !important
}

.mt100 {
	margin-top: 100px !important
}

.mt30 {
	margin-top: 30px !important
}

.mt10 {
	margin-top: 10px !important
}

.mb10 {
	margin-bottom: 10px !important
}

.pt30 {
	padding-top: 30px !important
}

.pt50 {
	padding-top: 50px !important
}

.tl {
	text-align: left !important
}

.tr {
	text-align: right !important
}

.fs14 {
	font-size: 13px !important
}

.tc {
	text-align: center
}

.fr {
	float: right
}

.fl {
	float: left
}

.cl {
	clear: left
}

.cb {
	clear: both
}

select {
	background-color: white !important
}
/*�̵��Ұ� �ΰ�*/
/*hover�� Ȯ��ȿ��*/
.fh5co-lead-wrap img {
	transform-origin: center center 0;
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transition: all 1.8s ease;
	-moz-transition: all 1.8s ease;
	-o-transition: all 1.8s ease;
	transition: all 1.8s ease;
}

.fh5co-lead-wrap img:hover {
	/*  
     transform: matrix(1.3, 0, 0, 1.3, 0, 0);
    -webkit-transform: scale(1.07,1.07);
    -moz-transform: scale(1.07,1.07);
    -o-transform: scale(1.07,1.07);
    transform: scale(1.07,1.07); 
 */
	
}

/*����ȳ�*/
.fh5co-feature-title {
	font-weight: bold
}

.text_span {
	color: #e8e8e8;
	font-size: 13px
}
/*���������3������*/
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle {
	transition: all 0.8s ease;
	display: table;
	width: 100px;
	height: 100px;
	margin: 0 auto 2em auto;
	border: 1px solid #b1aeae;
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle:hover {
	opacity: 1;
	background: none;
	border: 2px solid #ffffff
}

.glyphicon-flag:hover, .glyphicon-tree-conifer:hover, .glyphicon-road:hover
	{
	color: #ffffff !important;
	transition: all 0.2s ease;
}

/*����Ұ�*/
.box_construct {
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
}

/*custom*/
/*�迭��Ұ�*/
.fh5co-newsletter .col-md-4 {
	padding: 15px
}

.col-md-4.col-sm-6.fh5co-feature-item {
	text-align: center
}

.fh5co-feature-item {
	padding: 10px;
}

.fh5co-feature-item img {
	max-width: 100%;
	text-align: center; /*padding:10px;*/
}

figcaption p {
	font-size: 13px !important
}

/*left menu ����*/
.sub_header {
	background: url(../images/project_1.jpg) no-repeat 0 -206px;
	font-size: 22px;
	color: white;
	text-align: center;
	padding: 35px;
	font-weight: normal;
}

.fadein {
	transform-origin: center center 0;
	/* transform: matrix(1, 0, 0, 1, 0, 0); */
	-webkit-transition: all 1.1s ease;
	-moz-transition: all 1.1s ease;
	-o-transition: all 1.1s ease;
	transition: all 1.1s ease;
}

.fadein:hover {
	/* transform: matrix(1.3, 0, 0, 1.3, 0, 0); */
	-webkit-transform: scale(1.07, 1.07);
	-moz-transform: scale(1.07, 1.07);
	-o-transform: scale(1.07, 1.07);
	transform: scale(1.07, 1.07);
}

/*������*/

/*�������� Header */
/*#fh5co-header-section { padding:0;}*/

/*����ȭ�� �ΰ� ��������*/
/*#fh5co-main.main{margin-top:50px !important}*/

/*sub������ class="sub"*/
#fh5co-main.sub {
	margin-top: 300px
}

#fh5co-hero .fh5co-hero-wrap.sub {
	display: table;
	height: 420px;
	width: 100%;
}

.img100 img {
	max-width: 100%
}

.ul_taps a {
	font-size: 15px
}
/*sub����*/
.sub_container {
	padding-left: 30px
}

.sub_container h2 {
	font-size: 16px;
	border-bottom: 1px solid #c8c8c8;
	color: #666666;
	line-height: 27px;
	padding-bottom: 12px
}

.sub_container h2 span {
	font-size: 14px
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block
}

/*footer*/
.section_width {
	margin: 0 auto;
	max-width: 1150px;
}

.sitemap ul {
	padding: 0
}

.sitemap dl {
	float: left;
	width: 20%;
	display: block;
}

.sitemap dl dt {
	color: #eaeaea;
	font-weight: bold;
	padding: 27px 0 15px 0;
	font-size: 14px;
}

.sitemap dl dd {
	font-size: 13px
}

.sitemap ul>li>a {
	color: #908e8e
}

.footer_wrap {
	padding-top: 8px;
	padding-bottom: 23px;
	line-height: 18px;
}

.section {
	width: 100% !important;
	margin: 0 auto;
}

#footerWrap {
	position: relative;
	height: 61px;
	margin: 0 auto;
	border-top: 0;
	padding: 0;
}

.footer_wrap .footer {
	margin: 0 auto;
	position: relative;
}

.footer address {
	margin-top: 15px;
	padding-left: 50px;
	color: #999999
}
/**�������**/
.sidebar ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}

.sidebar ul.tabs li {
	font-size: 19px;
	float: left;
	text-align: center;
	cursor: pointer;
	line-height: 60px;
	border: 1px solid #dadada;
	border-left: none;
	background: #fafafa;
	overflow: hidden;
	position: relative;
}

.width33 {
	width: 33.3%
}

.width49 {
	width: 50%
}

.width48 {
	width: 50%
}

.width20 {
	width: 20%
}

.sidebar ul.tabs li.active {
	border-bottom: 2px solid #1a3559;
	color: #ffffff;
	background-color: #194c40;
	transition: all 0.3s ease-in-out
}

.sidebar ul.tabs li:hover {
	color: #7a818a;
	border-bottom: 2px solid #1a3559;
	transition: all 0.3s ease-in-out
}

.sidebar {
	padding-top: 30px
}

.tab_container {
	clear: both;
	width: 100%;
	float: left;
	background: #FFFFFF;
}

.tab_content {
	padding: 1px;
	font-size: 12px;
	display: none;
}

.tab_container .tab_content ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab_container .tab_content ul li {
	padding: 5px;
	list-style: none
}

#container {
	width: 249px;
	margin: 0 auto;
}

.tab_content p {
	font-size: 15px;
	color: #666666
}

.sub_headline {
	font-size: 43px;
	color: #123461;
	font-weight: bold
}

.subcontents_bg {
	background-color: #dadada;
	line-height: 25px;
	height: 419px;
	padding: 35px;
}

.subcontents_bg2 {
	height: 443px;
}

.subcontents_bg span {
	font-weight: bold;
	color: #123461
}

.paragraph {
	color: #666666;
	font-size: 15px
} /*����*/
.container label {
	font-size: 15px
}
/**����ä��**/
.tb-1.line {
	padding: 0;
	border-top: solid 2px #111;
}

.insaSystem ul.tb-1 li {
	display: block;
	border-bottom: 1px solid #cfcfcf;
	padding: 10px 0 10px 0;
	font-size: 15px;
}

.insaSystem ul.tb-1 li span {
	font-weight: bold
}

.recruit_left {
	width: 20%;
	float: left;
	margin-top: 10px;
}

.recruit_right {
	float: right;
	width: 78%;
}

.fsTy3 {
	color: #1a3559;
	font-size: 18px;
	font-weight: bold
}

/************** �ްԼ� �޴� ul li ***********/
ul, dl, ol, li {
	list-style: none;
}

#menu_list {
	margin: 0 0 10px 0;
	padding: 0;
}

#menu_list>h3 {
	margin-bottom: 12px;
	font-size: 22px;
	font-weight: 700;
}

#menu_list>ul {
	margin-top: 0;
	padding-top: 40px;
	padding-left: 0;
	display: block;
	clear: both;
}

#menu_list>ul>li {
	margin-top: 0;
	float: left;
	margin-left: 43px;
	width: 30%;
}

#menu_list>ul>li:first-child {
	margin-left: 0;
}

#menu_list .info {
	margin-top: 35px;
	padding: 25px 30px;
	background: #f2f2f2;
}

#menu_list .info ul {
	margin-top: -4px;
	overflow: hidden;
}

#menu_list .info ul li {
	float: left;
	width: 50%;
	margin-top: 4px;
	font-size: 13px;
	color: #888;
	font-weight: 500;
}

#menu_list .info ul li span {
	font-weight: 700;
	color: #000;
}

#menu_list .info ul li span.red {
	color: #f54415;
}

#menu_list>ul>li>p {
	margin-bottom: 18px;
	padding-bottom: 7px;
	border-bottom: 2px solid #1a55af;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

#menu_list dl {
	clear: both;
	padding-bottom: 10px;
	font-size: 17px;
	font-weight: 500
}

#menu_list dl dt {
	display: block;
	float: left;
}

#menu_list dl dd {
	display: block;
	float: right;
}

#menu_list ul ul li {
	clear: both
}

/************** ����Ư�� �޴� ul li ***********/
#specialty_list {
	width: 49%;
	margin: 0 20px 20px 0;
	float: left;
	padding: 15px;
}

#specialty_list p {
	margin-bottom: 18px;
	padding-bottom: 7px;
	border-bottom: 2px solid #13b5b1;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

#specialty_list p b {
	font-size: 15px;
	font-weight: normal;
}

#specialty_list ul {
	margin-bottom: 20px;
}

#specialty_list ul li p {
	border-bottom: 1px solid #ddd;
}

#specialty_list .float_left {
	width: 50%;
	float: left;
}

#specialty_list .float_right {
	float: right;
	width: 50%;
}

/*******�����귣�� CSS*******/
.btn_brand {
	border: 1px solid #d7d7d7;
	float: left;
	overflow: hidden;
}

.btn_brand:hover {
	border: 1px solid #13b5b1;
}

a .btn_brand:hover {
	border: 1px solid #153456;
	opacity: 0.6;
	transition: all .3s ease
}

.div_left img {
	border-radius: 200px;
	border: 1px solid #d7d7d7;
	width: 120px
}

.selectbrand {
	border: 2px solid #153456
}

.mainbrand span {
	float: left;
	padding: 10px 7px 10px 7px;
}

.mainbrand span > img {
	width: 130px
}

.div_left {
	width: 46%;
	float: left
}

.div_right {
	width: 46%;
	float: right
}

.ul_mainmenu {
	padding-left: 0
}

.ul_mainmenu li {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	float: left
}

.ul_mainmenu li span {
	font-size: 12px
}

.ul_mainmenu image {
	max-width: 100%;
	width: 100%
}

/*����ȭ��3����*/
.section_width {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main_box:first-child {
	margin-left: 0;
}

.main_box {
	font-family: 'NanumSquareRound', 'NanumSquare', 'Noto Sans KR',
		'Noto Sans Korean', Malgun Gothic, "�������", arial, sans-serif;
	float: left;
	width: 31.1%;
	margin-right: 20px;
	border: 1px solid #d2d2d2;
	height: 350px;
	background-color: white;
}

.main_box dt {
	overflow: hidden;
}

.main_box dt img {
	width: 100%
}

.main_box dd {
	padding: 20px;
	border-top: 3px solid #13b5b1 !important;
}

/**transition �����Ƽ / ���콺 ������ �ڿ������� Ȯ�� 160912 **/
.main_box dt img {
	transform-origin: center center 0px;
	/*��ȭ�ӵ�, �������� ������ ��ȭ*/
	/*transform: matrix(1, 0, 0, 1, 0, 0);*/
	-webkit-transition: all 1.1s ease;
	-moz-transition: all 1.1s ease;
	-o-transition: all 1.1s ease;
	transition: all 1.1s ease;
}

.main_box dt img:hover {
	opacity: 0.95;
	/*ũ�⺯ȭ, Ŭ���� ũ�Ժ�ȭ*/
	/*transform: matrix(1.3, 0, 0, 1.3, 0, 0);*/
	-webkit-transform: scale(1.07, 1.07);
	-moz-transform: scale(1.07, 1.07);
	-o-transform: scale(1.07, 1.07);
	transform: scale(1.07, 1.07);
}

.main_box dd p {
	color: #13b5b1;
	font-weight: 600
}

.main_box dd p span {
	color: #999999
}

/*�������*/
.thumbWrap .obj {
	float: left;
}

.thumbWrap figure figcaption {
	float: right;
	width: 65%;
}

.grap {
	
}

@media screen and (max-width: 768px) {
	.thumbWrap figure figcaption {
		width: 100%;
	}
	.thumbWrap figure figcaption ul li {
		padding: 5px !important;
		font-size: 12px;
	}
}

.thumbWrap figure figcaption ul {
	border: solid #aaa;
	border-width: 3px 0 1px;
	border-top-color: #13b5b1;
	font-size: 17px;
}

.thumbWrap figure figcaption ul li:first-child {
	border-top-width: 0;
}

.thumbWrap figure figcaption ul li {
	padding: 10px;
	border-top: 1px solid #dbdbdb;
}

.thumbWrap figure figcaption ul li b {
	padding-left: 15px;
	width: 20%;
	color: #333;
	background: url(../images/inform/thumb_bul.png) no-repeat 0 11px;
	display: inline-block;
}

.thumbWrap figure figcaption ul li span {
	width: 75%;
	color: #333;
}

.thumbWrap .grap {
	clear: both;
}

.thumbWrap .ptList {
	padding-left: 0;
	padding-top: 15px;
	border-bottom: 1px dotted #2c2c2c;
}

/*------------------*/
/*mobile CSS ������ */
/*------------------*/
@media screen and (max-width: 768px) {
	#fh5co-hero {
		height: 350px !important
	}
	#fh5co-hero {
		background-position: center center;
		background-image: url(/images/main/maesong_main.jpg);
		position: inherit;
	}
	#fh5co-hero .fh5co-hero-wrap {
		height: inherit
	}
	.container {
		padding-left: 5px;
		padding-right: 5px;
	}
	/*����ȭ�� �̹���*/
	.innovative img {
		width: 100%;
	}
	/*�ΰ�*/
	.logo {
		width: 105px;
	}
	.sub_container h2 span {
		display: none
	}
	figcaption {
		padding: 5px !important;
	}
	.demo figcaption span {
		display: none;
	}
	/*����ȭ�� ������ī�װ�*/
	.main_box {
		float: none;
		width: 100%;
		margin-left: 0px;
		border: 1px solid #d2d2d2;
		height: inherit;
		background-color: #eaeaea
	}
	/*sub �������*/
	#fh5co-hero.sub {
		height: 250px !important;
	}
	.sub_header {
		font-size: 16px;
		padding: 25px;
	}
	.fh5co-nav-links ul li {
		margin: 10px 0 0 0;
	}
	/*sub ����������*/
	div.img100 img {
		max-width: 100%;
	}
	/*����Ͽ� �⺻padding*/
	.col-md-8.col-md-offset-1.col-md-push-3 {
		margin-top: 30px;
	}
	.row.fh5co-feature-2 {
		padding: 2em;
	}
	#fh5co-feature-slider, #fh5co-newsletter {
		padding: 2em 0;
	}
	/*footer*/
	#fh5co-footer {
		font-size: 12px;
	}

	/*��*/
	#tab_container ul.tabs li {
		width: 100%;
	}
	/*ä����*/
	.recruit_left {
		width: 100%;
		float: none;
		margin-top: 0;
		display: block;
	}
	.recruit_right {
		float: none;
		width: 100%;
	}
	/*�����귣��*/
	.div_left {
		width: 100%;
	}
	.div_right {
		width: 100%;
	}
	#menu_list>ul>li:first-child {
		padding-top: 0
	}
	#menu_list>ul>li {
		width: 100%;
		float: none;
		display: block;
		margin: 0 0 0 0;
		clear: left;
		padding-top: 30px;
	}
	.sub_container {
		padding-left: 0;
	}

	/* ����Ư�깰 */
	#specialty_list {
		height: auto;
		width: 100%;
		margin: 0;
		padding: 5px;
	}

	/*sub �������*/
	#fh5co-main.sub {
		margin-top: 0px;
	}
	#fh5co-hero .fh5co-hero-wrap.sub {
		height: 200px !important;
	}
	#fh5co-hero.sub {
		height: 250px !important;
	}
	/*�̹���*/
	.subcontents_img, .subcontents_bg {
		width: 100% !important;
		height: inherit;
	}
	/*����Ͽ� �⺻padding*/
	.col-md-8.col-md-offset-1.col-md-push-3 {
		margin-top: 30px;
	}
	/*��*/
	#tab_container ul.tabs li {
		width: 100%;
	}
	.tab_container {
		width: 100%;
	}
	/*���Ĺڽ�*/
	[id^=showmenu]>img {
		width: 97px;
	}
	[id^=showmenu] {
		float: left;
		padding: 10px 2px 10px 2px;
	}
	/*Ǫ��*/
	.sitemap dl dt {
		font-size: 13px
	}

	/**/
	.container p {
		font-size: 12px
	}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	#fh5co-logo {
		display: none
	}
}

.liststyle li {
	list-style: circle;
}

#shop {
	margin-top: -40px;
}

#shop>ul {
	width: 100%;
	overflow: hidden;
	padding-left: 0;
}

#shop>ul>li {
	width: 15%;
	margin-right: 2%;
	margin-top: 40px;
	float: left;
	position: relative;
	height: 130px;
	background-color: #F8F8F8;
}

#shop>ul>li:last-child {
	margin-right: 0;
}

#shop>ul>li>span {
	display: block;
	width: 65px;
	height: 12px;
	margin-left: -32px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	background: url(../images/btn_shop.png) 0 0 no-repeat;
}

#shop>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
}

#shop>ul>li>img {
	width: 100%;
}

#shop>ul>li>a:hover {
	border: 2px solid #13b5b1;
	cursor: pointer;
}

#shop>ul>li:hover>span {
	background-position: 0 -12px;
	cursor: pointer;
}

#shop>ul>li.on>span {
	background-position: 0 bottom;
}

#shop>ul>li.on>a {
	border: 2px solid #13b5b1;
}

#shop>ul>li.on>a:hover {
	border: 2px solid #13b5b1;
}

#shop .detail {
	width: 100%;
	margin: 40px 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
	display: none;
}

#shop .detail .txt {
	width: 50%;
	height: 318px;
	padding: 35px 25px;
	float: right;
	position: relative;
	box-sizing: border-box;
}

#shop .detail .txt .item_01 {
	margin-bottom: 25px;
}

#shop .detail .txt .item_02 {
	font-size: 15px;
	line-height: 180%;
}

#shop .detail .txt .phone {
	font-size: 15px;
}

#shop .detail .txt .btn_wrap {
	position: absolute;
	right: 25px;
	bottom: 35px;
	font-size: 0;
}
/*170926����*/
#shop .detail .txt .btn_wrap a {
	display: inline-block;
	width: 90px;
	margin-left: 5px;
	border: 1px solid #ccc;
	border-radius: 13px;
	font-size: 12px;
	font-weight: 500;
	line-height: 26px;
	color: #56991f;
	text-align: center;
}

#shop .detail .txt .btn_wrap a:first-child {
	margin-left: 0;
}

#shop .detail .txt .btn_wrap a.remove {
	display: none;
}
/*//170926����*/
#shop .detail .txt .btn_wrap a:hover {
	border-color: #56991f;
	background: #56991f;
	color: #fff;
}

#shop .detail .txt .btn_close {
	position: absolute;
	right: 25px;
	top: 25px;
}

#shop .detail .img {
	width: 50%;
	height: 318px;
	float: left;
	background: url(/images/shop/img_1.jpg) center center no-repeat;
	background-size: cover;
}

#fh5co-hero {
	background-color: transparent;
	top: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	color: #ffffff;
} /*메인화면 배경색없앰.*/
#fh5co-hero .fh5co-hero-wrap {
	margin-top: 0
}

#pop {
	width: 300px;
	height: 400px;
	background: #3d3d3d;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 450px;
	text-align: center;
	border: 2px solid #000;
}

.close div {
	float: left;
	text-align: right;
}

#check {
	font-size: 12px;
	font-family: '돋움';
	padding: 6px
}

#close {
	font-size: 16px;
	padding: 5px;
	font-weight: normal;
}

input {
	border: 1px solid #CFCFCF;
	height: 12px;
	padding: 3px 5px;
	vertical-align: middle;
}

#pop {
	display: none
} /* popup컨트롤*/
@media screen and (max-width:480px) {
	/*팝업창 가리기*/
	#pop {
		display: none !important
	}
}